


/*Header*/
  .header-content{
      text-align: center;
      padding: 50px;
      color: white;
  }
  .head1{
    color: white;
  }

  /*content*/

.container{
  padding-right: 50px;
}

.formMenu{
    display: flex;
    flex-direction: column;
    background-color:black;
    border: 5px solid #565353;
    border-radius: 10px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    
}
  input[type=email]{
  padding: 10px;
  background-color:rgb(19, 17, 17) ;
  color: rgb(244, 244, 244);
  border-radius: 6px;
  width: 300px;
    height: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    margin-bottom: 8px;
  }
  
  input[type=password]{
    padding: 10px;
    background-color:rgb(19, 17, 17) ;
    color: rgb(254, 253, 253);
    width: 300px;
    height: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    margin-bottom: 8px;
    border-radius: 6px;
    border: none;
  }

  .login-button{
    cursor: pointer;
    border: 0;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.4s;
    background:linear-gradient(to right,rgb(25, 206, 157),yellow);
    width: 318px;
    height: 40px;
    text-align: start;
    padding: 10px 7px;
   }

  a{
    text-decoration: none;
    color: black;
   }

  
  .forgot-password{
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .forgot-password a{
    color: white;
    padding: 10px;
  }

